*{
    font-family: 'Courier New';
}

h1,h3{
    color: #b92b27;
}

#login{
    background-color: green;
}

.upvote{
    background-color: violet;
}

/* Descendant Selector */
p a {
    color: violet;
}

/* Adjacent Sibling Combinator */
p + h3{
    text-decoration: underline;
}

/* Child Combinator */
div > input{
    background-color: gray;
}

/* Attribute Selector */
input[type="text"] {
    color: red;
}
input[type="password"] {
    color: aqua;
}

/*hover*/
button:hover{
    color: white;
    background-color: black;
}
/*active*/
button:active{
    background-color: pink;
}